body {
  font-family: "Poppins", sans-serif;
  background-color: #e9f6f6;
  margin: 40px 0;
}

.App-header {
  margin: 40px 0;
}

.App-header .header-image {
  max-width: 200px;
}

.App-footer {
  text-align: center;
  margin: 40px 0;
  font-size: 12px;
  opacity: 0.8;
  font-weight: 500;
}
