.Results {
  text-align: left;
}

.Results .word,
.Results .phonetic {
  line-height: 1.5;
}

.Results .word {
  font-size: 40px;
  font-weight: 600;
}

.Results .phonetic {
  font-size: 18px;
  font-weight: 500;
  opacity: 0.6;
}
